/* 共通 */

body {
  background-color: rgb(236 236 236);
  font-family: initial;
}

.contents {
  width: 100%;
  padding-bottom: 100px;
}

.contents>p {
  font-size: 25px;
  font-weight: bold;
}

/* ヘッダー */

.logo {
  padding: 60px 75px;
  font-size: 60px;
  font-weight: bold;
}

/* ABOUT */

.prof-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 3rem;
}

@media screen and (min-width:480px) {
  .prof-text {
    margin-top: 12rem;
    line-height: 35px;
  }
}

.prof-text-head {
  display: inline-block;
  width: 100px;
  font-weight: 600;
}

.prof-text-colon {
  display: inline-block;
  width: 35px;
}

.top-img {
  width: 350px;
}

/* SKILLS */

.skill-images {
  width: 17vw;
}

@media screen and (min-width:480px) {
  .skill-images {
    width: 9vw;
  }
}

/* PORTFOLIO */

.portfolio-img {
  border: 1px solid #707070;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: auto;
}

.portfolio-img .portfolio-main-img {
  height: auto;
  transition: transform .6s ease;
  /* ゆっくり変化させる */
}

.portfolio-img:hover .portfolio-main-img {
  transform: scale(1.1);
  /* 拡大 */
}

.portfolio-img p {
  align-items: center;
  /* テキストの中央揃え */
  bottom: 0;
  color: #fff;
  /* テキストの色 */
  display: flex;
  /* テキストの中央揃え */
  justify-content: center;
  /* テキストの中央揃え */
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  /* テキストを横幅いっぱいにならないようにする */
  z-index: 2;
}

/* マスク */

.portfolio-img::before {
  background: rgba(0, 0, 0, .5);
  /* マスクの色(黒の50%) */
  bottom: 0;
  content: '';
  height: auto;
  left: 0;
  opacity: 0;
  /* 最初は透明（非表示） */
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .6s ease;
  /* ゆっくりopacityのみへ変化させる */
  width: 100%;
  z-index: 1;
}

.portfolio-img:hover::before {
  opacity: 1;
}

.portfolio-blank-img {
  width: 20px;
}

/* CONTACT */

.modal-text-head {
  display: inline-block;
  width: auto;
  font-weight: 600;
}

.modal-text-colon {
  display: inline-block;
  width: 35px;
}

.modal-body {
  line-height: 40px;
}

/* トップスクロールボタン */

.top-btn {
  width: 30px;
}

/* FOOTER */

footer {
  height: 75px;
}

.footer-nav {
  margin-right: 1rem!important;
  display: inline!important;
}

/* 横棒グラフ */

#container {
  margin: 10px;
}

.graf {
  display: flex;
  align-items: center;
  margin: 5px;
}

.category-title {
  font-size: 20px;
}

.data-title-wrapper {
  width: 155px;
}

.data-name {
  padding: 0 6px;
  color: #404040;
}

.graf-bar-bg {
  width: 100%;
  background: #e0e0e0;
}

.graf-bar {
  background: #898989;
}

.graf-bar span {
  color: #FFF;
  padding: 0 6px;
}

/* フェードイン */

.fadeIn {
  opacity: 0;
  transition: 2s;
}

.fadeIn.is-show {
  opacity: 1;
}

#loadContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 59px;
  margin-left: -28px;
  margin-top: -29px;
}

/* 横棒アニメーション */

.headline {
  position: relative;
}

.headline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0%;
  height: 2px;
  background: #90b8a6;
  transition-delay: 0.7s;
  /* transition: all 0.5s; */
  transition-duration: 0.5s;
}

.headline.isActive:after {
  width: 100%;
}